{% extends "dash_base.php" %}

{% block title %}
إضافة موقع عمل
{% endblock %}
{% block style %}
{% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">إضافة موقع عمل</li>
                        <li class="breadcrumb-item">مواقع العمل</li>
                        <li class="breadcrumb-item"><a href="../Dashboard/index">الرئيسية</a></li>

                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" dir="">
        <form method="post" enctype="multipart/form-data" autocomplete="off" id="myForm" name="myForm" onsubmit="return validateForm()"
              action="saveWorkPlace">
            <div class="container-fluid">
                <!-- left column -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="card bg-gradient-primary">

                            <div class="card-header">


                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <h3 class="card-title" style="text-align: center;">
                                     بيانات موقع العمل
                                </h3>
                                <!-- /. tools -->
                            </div>
                            <div class="card-body" dir="rtl">
                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <input type="text" class="form-control"
                                               name="name"   placeholder="اسم موقع العمل"/>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->

                <div class="form-group col-lg-12 col-sm-12">
                    <input type="submit" id="save" class="btn btn-primary" value="حفظ البيانات">
                </div>
            </div><!-- /.container-fluid -->
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block footer %}

<script>

    function validateForm() {

        const x1 = document.forms["myForm"]["name"].value;




        if (x1 == "" || x1 == null ) {
            createAlert('','ادخل  موقع العمل','','danger',true,true,'pageMessages');
            document.forms["myForm"]["name"].focus();
            return false;
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#myForm').validate({
            rules: {
                name: {
                    remote: '../Account/Validate?work_places'
                }
            },
            messages: {
                name: {
                    remote:' موقع العمل موجود بالفعل'
                }
            }
        });
    });
</script>
<script>
    $("#work_places").last().addClass("active");
    $("#work_places_new").last().addClass("active");
</script>

{% endblock %}
