{% extends "dash_base.php" %}

{% block title %}
نقل  موظف
{% endblock %}
{% block style %}
{% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">نقل  موظف</li>
                        <li class="breadcrumb-item">الموظفين</li>
                        <li class="breadcrumb-item"><a href="../Dashboard/index">الرئيسية</a></li>

                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" dir="">
        <form method="post" enctype="multipart/form-data"  autocomplete="off" id="myForm" name="myForm" onsubmit="return validateForm()"
              action="saveData">
            <div class="container-fluid">
                <!-- left column -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="card bg-gradient-primary">

                            <div class="card-header">


                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <h3 class="card-title" style="text-align: center;">
                                   نقل  موظف

                                </h3>
                                <!-- /. tools -->
                            </div>
                            <div class="card-body" dir="rtl">
                               
                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-12">
                                        الاسم
                                        <select class="form-control select2"
                                                name="name"
                                                id="name" >
                                            <option selected="selected" disabled value="">اختر الاسم</option>
                                            {% for emp in employees%}
                                            <option value="{{emp.id}}">{{emp.name}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6 col-sm-12">
                                        الشركة
                                          <select class="form-control select2"
                                                name="company"
                                                id="company">
                                            <option selected="selected" disabled value="">اختر الشركة</option>
                                            {% for company in companies%}
                                            <option value="{{company.id}}">{{company.name_ar}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                </div>
                               
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->

                <!-- general form elements -->
                <!-- Form Element sizes -->

                <!-- /.card -->

                <div class="form-group col-lg-12 col-sm-12">
                    <input type="submit" id="save" class="btn btn-primary" value="حفظ البيانات">
                </div>
            </div><!-- /.container-fluid -->
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block footer %}
<script>
    $("#employees").last().addClass("active");
    $("#employee_new").last().addClass("active");
</script>
<script>

    function validateForm() {

        const x1 = document.forms["myForm"]["personal_photo"].value;
        const x2 = document.forms["myForm"]["name"].value;
        const x3 = document.forms["myForm"]["residence_governorate"].value;
        const x4 = document.forms["myForm"]["residence_city"].value;
        const x5 = document.forms["myForm"]["residence_street"].value;
        const x6 = document.forms["myForm"]["telephone"].value;
        const x7 = document.forms["myForm"]["identification_id"].value;
        const x8 = document.forms["myForm"]["place_of_birth_governorate"].value;
        const x9 = document.forms["myForm"]["place_of_birth_city"].value;
        const x10 = document.forms["myForm"]["place_of_birth_street"].value;
        const x11 = document.forms["myForm"]["date_of_birth"].value;
        const x12 = document.forms["myForm"]["army_status"].value;
        const x13 = document.forms["myForm"]["marital_status"].value;
        const x14 = document.forms["myForm"]["qualification_type"].value;
        const x15 = document.forms["myForm"]["department"].value;
        const x16 = document.forms["myForm"]["job"].value;
        const x17 = document.forms["myForm"]["work_place"].value;
        const x18 = document.forms["myForm"]["date_of_hiring"].value;
        const x19 = document.forms["myForm"]["cv"].value;
        const x20 = document.forms["myForm"]["job_application"].value;
        const x21 = document.forms["myForm"]["identification_card"].value;
        const x22 = document.forms["myForm"]["birth_certificate"].value;
        const x23 = document.forms["myForm"]["qualification_certificate"].value;
        const x24 = document.forms["myForm"]["army_certificate"].value;
        const x25 = document.forms["myForm"]["criminal_sheet"].value;
        const x26 = document.forms["myForm"]["training_record"].value;
        const x27 = document.forms["myForm"]["driving_license"].value;
        const x28 = document.forms["myForm"]["equipment_license"].value;


        const imgExtension = ['jpg', 'jpeg', 'png'];
        const fileExtension = ['jpg', 'jpeg', 'png', 'doc', 'docx', 'xml', 'xmlx', 'ppt', 'ppts', 'pdf'];

        const image = x1.slice((x1.lastIndexOf(".") - 1 >>> 0) + 2);
        const cv = x19.slice((x19.lastIndexOf(".") - 1 >>> 0) + 2);
        const job_application = x20.slice((x20.lastIndexOf(".") - 1 >>> 0) + 2);
        const identification_card = x21.slice((x21.lastIndexOf(".") - 1 >>> 0) + 2);
        const birth_certificate = x22.slice((x22.lastIndexOf(".") - 1 >>> 0) + 2);
        const qualification_certificate = x23.slice((x23.lastIndexOf(".") - 1 >>> 0) + 2);
        const army_certificate = x24.slice((x24.lastIndexOf(".") - 1 >>> 0) + 2);
        const criminal_sheet = x25.slice((x25.lastIndexOf(".") - 1 >>> 0) + 2);
        const training_record = x26.slice((x26.lastIndexOf(".") - 1 >>> 0) + 2);
        const driving_license = x27.slice((x27.lastIndexOf(".") - 1 >>> 0) + 2);
        const equipment_license = x28.slice((x28.lastIndexOf(".") - 1 >>> 0) + 2);

        if (x19 == "" || x19 == null){
            }else {
            if (!fileExtension.includes(cv)) {
                createAlert('', 'صيغة  السيرة الذاتية  غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x20 == "" || x20 == null){
        }else {
            if (!fileExtension.includes(job_application)) {
                createAlert('', 'صيغة   طلب الالتحاق  غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x21 == "" || x21 == null){
        }else {
            if (!fileExtension.includes(identification_card)) {
                createAlert('', 'صيغة  البطاقة  الشخصية   غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x22 == "" || x22 == null){
        }else {
            if (!fileExtension.includes(birth_certificate)) {
                createAlert('', 'صيغة  شهادة الميلاد غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x23 == "" || x23 == null){
        }else {
            if (!fileExtension.includes(qualification_certificate)) {
                createAlert('', 'صيغة  شهادة المؤهل الدراسي غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x24 == "" || x24 == null){
        }else {
            if (!fileExtension.includes(army_certificate)) {
                createAlert('', 'صيغة  شهادة الجيش غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x25 == "" || x25 == null){
        }else {
            if (!fileExtension.includes(criminal_sheet)) {
                createAlert('', 'صيغة  صحيفة الحالة الجنائية  غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x26 == "" || x26 == null){
        }else {
            if (!fileExtension.includes(training_record)) {
                createAlert('', 'صيغة    سجل  تدريب  غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x27 == "" || x27 == null){
        }else {
            if (!fileExtension.includes(driving_license)) {
                createAlert('', 'صيغة    رخصة قيادة   غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }
        if (x28 == "" || x28 == null){
        }else {
            if (!fileExtension.includes(equipment_license)) {
                createAlert('', 'صيغة    رخصة معدة  غير مدعومة', '', 'danger', true, true, 'pageMessages');
                return false;
            }
        }



        if (x1 == "" || x1 == null ) {
            createAlert('','ادخل الصورة الشخصية','','danger',true,true,'pageMessages');
            document.forms["myForm"]["personal_photo"].focus();
            return false;
        }
        else if(!imgExtension.includes(image)) {
            createAlert('','صيغة  الصورة الشخصية غير مدعومة','','danger',true,true,'pageMessages');
            document.forms["myForm"]["personal_photo"].focus();
            return false;
        }

        if (x2 == "" || x2 == null) {
            createAlert('','ادخل الاسم','','danger',true,true,'pageMessages');
            document.forms["myForm"]["name"].focus();
            return false;
        }
        if (x3 == "" || x3 == null) {
            createAlert('','ادخل المحافظة للعنوان','','danger',true,true,'pageMessages');
            document.forms["myForm"]["residence_governorate"].focus();
            return false;
        }
        if (x4 == "" || x4 == null) {
            createAlert('','ادخل المدينة / المركز للعنوان','','danger',true,true,'pageMessages');
            document.forms["myForm"]["residence_city"].focus();
            return false;
        }
        if (x5 == "" || x5 == null) {
            createAlert('','ادخل الشارع / الحي / القرية للعنوان','','danger',true,true,'pageMessages');
            document.forms["myForm"]["residence_street"].focus();
            return false;
        }
        if (x6 == "" || x6 == null || x6.match(/^\d+$/) == null || x6.length != 11 ){
            createAlert('','ادخل رقم التليفون بشكل صحيح','','danger',true,true,'pageMessages');
            document.forms["myForm"]["telephone"].focus();
            return false;
        }
        if (x7 == "" || x7 == null || x7.match(/^\d+$/) == null || x7.length != 14) {
            createAlert('','ادخل الرقم القومي بشكل صحيح','','danger',true,true,'pageMessages');
            document.forms["myForm"]["identification_id"].focus();
            return false;
        }
        if (x8 == "" || x8 == null) {
            createAlert('','ادخل المحافظة لمحل الميلاد','','danger',true,true,'pageMessages');
            document.forms["myForm"]["place_of_birth_governorate"].focus();
            return false;
        }
        if (x9 == "" || x9 == null) {
            createAlert('','ادخل المدينة / المركز لمحل الميلاد','','danger',true,true,'pageMessages');
            document.forms["myForm"]["place_of_birth_city"].focus();
            return false;
        }
        if (x10 == "" || x10 == null) {
            createAlert('','ادخل الشارع / الحي / القرية لمحل الميلاد','','danger',true,true,'pageMessages');
            document.forms["myForm"]["place_of_birth_street"].focus();
            return false;
        }
        if (x11 == "" || x11 == null) {
            createAlert('','ادخل تاريخ الميلاد','','danger',true,true,'pageMessages');
            document.forms["myForm"]["date_of_birth"].focus();
            return false;
        }
        if (x12 == "" || x12 == null) {
            createAlert('','ادخل الموقف من التجنيد','','danger',true,true,'pageMessages');
            document.forms["myForm"]["army_status"].focus();
            return false;
        }
        if (x13 == "" || x13 == null) {
            createAlert('','ادخل الحالة الاجتماعية','','danger',true,true,'pageMessages');
            document.forms["myForm"]["marital_status"].focus();
            return false;
        }
        if (x14 == "" || x14 == null) {
            createAlert('','ادخل نوع المؤهل','','danger',true,true,'pageMessages');
            document.forms["myForm"]["qualification_type"].focus();
            return false;
        }
        if (x15 == "" || x15 == null) {
            createAlert('','ادخل  الإدارة','','danger',true,true,'pageMessages');
            document.forms["myForm"]["department"].focus();
            return false;
        }
        if (x16 == "" || x16 == null) {
            createAlert('','ادخل  الوظيفة ','','danger',true,true,'pageMessages');
            document.forms["myForm"]["job"].focus();
            return false;
        }
        if (x17 == "" || x17 == null) {
            createAlert('','ادخل موقع العمل ','','danger',true,true,'pageMessages');
            document.forms["myForm"]["work_place"].focus();
            return false;
        }
        if (x18 == "" || x18 == null) {
            createAlert('','ادخل تاريخ التعيين ','','danger',true,true,'pageMessages');
            document.forms["myForm"]["date_of_hiring"].focus();
            return false;
        }
    }
</script>
<script>
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var htmlPreview =
                    '<img width="200" src="' +
                    e.target.result +
                    '" />' +
                    "<p>" +
                    input.files[0].name +
                    "</p>";
                var wrapperZone = $(input).parent();
                var previewZone = $(input).parent().parent().find(".preview-zone");
                var boxZone = $(input)
                    .parent()
                    .parent()
                    .find(".preview-zone")
                    .find(".box")
                    .find(".box-body");

                wrapperZone.removeClass("dragover");
                previewZone.removeClass("hidden");
                boxZone.empty();
                boxZone.append(htmlPreview);
                document.getElementById("dropzone-wrapper").style.display = "none";


            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function reset(e) {
        e.wrap("<form>").closest("form").get(0).reset();
        e.unwrap();
    }

    $(".dropzone").change(function () {
        readFile(this);
    });

    $(".dropzone-wrapper").on("dragover", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).addClass("dragover");
    });

    $(".dropzone-wrapper").on("dragleave", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).removeClass("dragover");
    });

    $(".remove-preview").on("click", function () {
        var boxZone = $(this).parents(".preview-zone").find(".box-body");
        var previewZone = $(this).parents(".preview-zone");
        var dropzone = $(this).parents(".form-group").find(".dropzone");
        boxZone.empty();
        previewZone.addClass("hidden");
        reset(dropzone);
        document.getElementById("dropzone-wrapper").style.display = "block";
    });

</script>

<script>

</script>

{% endblock %}
