{% extends "dash_base.php" %}

{% block title %}
تعديل نموذج
{% endblock %}
{% block style %}
{% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">تعديل نموذج </li>
                        <li class="breadcrumb-item">النماذج</li>
                        <li class="breadcrumb-item"><a href="../Dashboard/index">الرئيسية</a></li>

                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" dir="">
        <form method="post" enctype="multipart/form-data" autocomplete="off" id="myForm" name="myForm" onsubmit="return validateForm()"
              action="editTemplate">
            <div class="container-fluid">
                <!-- left column -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="card bg-gradient-primary">

                            <div class="card-header">


                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <h3 class="card-title" style="text-align: center;">
                                    بيانات النموذج
                                </h3>
                                <!-- /. tools -->
                            </div>
                            <div class="card-body bg-gradient-light" dir="rtl">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-12">
                                        <input type ="hidden" value="{{data.id}}"
                                               name="id"  />
                                        اسم النموذج
                                        <input type="text"   class="form-control"
                                               name="name"  value="{{data.name}}" placeholder="اسم النموذج"/>
                                    </div>
                                    <div class="form-group col-lg-6 col-sm-12">
                                    
                                            ملاحظات
                                            <input type="text"   class="form-control"
                                                   name="notes" value="{{data.notes}}"   placeholder="ملاحظات"/>
                                        </div>


                                </div>
                                <div class="row">

                                    <div class="form-group col-lg-6 col-sm-12">
                                    <div class="custom-file">
                                        <input type="file"  name="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">إضافة نموذج</label>

                                    </div>
                                    <div>
                                        <a href="../{{data.file}}" target="_blank"><li class="fa fa-download"></li></a>
                                    </div>
                                </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->
                <div class="form-group col-lg-12 col-sm-12">
                    <input type="submit" id="save" class="btn btn-primary" value="حفظ البيانات">
                </div>
            </div><!-- /.container-fluid -->
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block footer %}

<script>

    function validateForm() {

        const x1 = document.forms["myForm"]["name"].value;
        const x2 = document.forms["myForm"]["file"].value;

        const fileExtension = ['jpg', 'jpeg', 'png', 'doc', 'docx', 'xml', 'xmlx', 'ppt', 'ppts', 'pdf'];

        const file = x2.slice((x2.lastIndexOf(".") - 1 >>> 0) + 2);



        if (x1 == "" || x1 == null ) {
            createAlert('','ادخل اسم النموذج','','danger',true,true,'pageMessages');
            document.forms["myForm"]["name"].focus();
            return false;

        }
        if (x2 == "" || x2 == null) {
            return true;
        }
        else if (!fileExtension.includes(file)) {
            createAlert('', 'صيغة    مستند الأجازة  غير مدعومة', '', 'danger', true, true, 'pageMessages');
            return false;
        }



    }
</script>
<script>
    $(document).ready(function () {
        let name  = document.getElementById('name').value;
        $('#myForm').validate({
            rules: {
                name: {
                    remote: '../Account/ValidateEdit?templates&'+name
                }
            },
            messages: {
                name: {
                    remote:' النموذج  موجود بالفعل'
                }
            }
        });
    });
</script>
<script>
    $("#templates").last().addClass("active");
    $("#templates_download").last().addClass("active");
</script>

{% endblock %}
