{% extends "dash_base.php" %}

{% block title %}
تعديل طلب إلتحاق
{% endblock %}
{% block style %}
{% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">تعديل طلب إلتحاق</li>
                        <li class="breadcrumb-item">طلب التحاق بالعمل</li>
                        <li class="breadcrumb-item"><a href="../Dashboard/index">الرئيسية</a></li>

                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" dir="">
        <form method="post" enctype="multipart/form-data"  autocomplete="off" id="myForm" name="myForm" onsubmit="return validateForm()"
              action="EditJobApplication">
            <div class="container-fluid">
                <!-- left column -->
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card bg-gradient-light">
                            <div class="card-header bg-gradient-primary">


                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <h3 class="card-title" style="text-align: center;">
                                    الصورة الشخصية
                                </h3>
                                <!-- /. tools -->
                            </div>
                            <div class="card-body" dir="rtl" id="image">
                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="preview-zone hidden">
                                                <div class="box box-solid">
                                                    <div class="box-header with-border" style="background-color: transparent;">
                                                        <div class="box-tools pull-right">
                                                            <button type="button" class="btn btn-danger btn-xs remove-preview">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="box-body"></div>
                                                </div>
                                            </div>

                                            <div class="dropzone-wrapper" id="dropzone-wrapper" dir="ltr">
                                                <input type="file" style="text-align: center;" name="personal_photo"
                                                       accept="image/*" class="dropzone /">
                                                <div class="dropzone-desc">
                                                    <i class="glyphicon glyphicon-download-alt"></i>
                                                    <p>اختر الصورة الشخصية</p>
                                                </div>

                                            </div>
                                            <a href="#image"
                                               id="_"  onclick="clickOn(this.id)"
                                               class="../{{job_application.personal_photo}}" ><li class="fa fa-download"></li></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-9">
                        <!-- general form elements -->
                        <div class="card bg-gradient-primary">

                            <div class="card-header">


                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <h3 class="card-title" style="text-align: center;">
                                    البيانات الشخصية
                                </h3>
                                <!-- /. tools -->
                            </div>
                            {% set residence_governorate = "" %}
                            {% set place_of_birth_governorate = "" %}
                            {% set residence_city = "" %}
                            {% set place_of_birth_city = "" %}

                            {% for governorate in governorates%}
                            {% if job_application.residence_governorate == governorate.id %}
                            {% set residence_governorate =  governorate.governorate_name %}
                            {% endif%}
                            {% if job_application.place_of_birth_governorate == governorate.id %}
                            {% set place_of_birth_governorate =  governorate.governorate_name %}
                            {% endif%}
                            {% endfor%}

                            {% for city in cities%}
                            {% if job_application.residence_city == city.id %}
                            {% set residence_city =  city.city_name %}
                            {% endif%}
                            {% if job_application.place_of_birth_city == city.id %}
                            {% set place_of_birth_city =  city.city_name %}
                            {% endif%}
                            {% endfor%}
                            <div class="card-body" dir="rtl">
                                <div class="form-group">
                                    <input type="hidden" class="form-control"
                                           name="id" value="{{job_application.id}}" />
                                    <input type="text" class="form-control"
                                           name="name" id="name" value="{{job_application.name}}"   placeholder="الاسم"/>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        العنوان
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <select class="form-control select2"
                                                name="residence_governorate"
                                                id="address" onchange="getCities(this.value,this.id)">
                                            <option selected="selected" disabled value="">{{residence_governorate}}</option>
                                            {% for governorate in governorates%}
                                            <option value="{{governorate.id}}">{{governorate.governorate_name}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <select class="form-control select2"
                                                id="cities_address" name="residence_city">
                                            <option selected="selected" disabled value="">{{residence_city}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <input type="text" class="form-control" name="residence_street"
                                               id="exampleInputText1" value="{{job_application.residence_street}}"
                                               placeholder="الحي / الشارع / القرية">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-12">
                                        <input type="text" class="form-control"   value="{{job_application.telephone}}"
                                               name="telephone"
                                               placeholder="رقم التليفون">
                                    </div>
                                    <div class="form-group col-lg-6 col-sm-12">
                                        <input type="text" class="form-control"  value="{{job_application.identification_id}}"
                                               name="identification_id" id="identification_id"
                                               placeholder="الرقم القومي">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        محل الميلاد
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <select class="form-control select2" id="place_of_birth"
                                                name="place_of_birth_governorate"
                                                onchange="getCities(this.value,this.id)">
                                            <option selected="selected" disabled value="">{{place_of_birth_governorate}}</option>
                                            {% for governorate in governorates%}
                                            <option value="{{governorate.id}}">{{governorate.governorate_name}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <select class="form-control select2" name="place_of_birth_city"
                                                id="place_of_birth_cities">
                                            <option selected="selected" disabled value="">{{place_of_birth_city}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <input type="text" class="form-control"  value="{{job_application.place_of_birth_street}}"
                                               name="place_of_birth_street"
                                               placeholder="الحي / الشارع / القرية">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>تاريخ الميلاد</label>
                                        <div  class="input-group date datepicker" data-date-format="dd-mm-yyyy">
                                            <input type="text" readonly name="date_of_birth" id="datepicker"
                                                   placeholder="{{job_application.date_of_birth}}"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>الموقف من التجنيد</label>
                                        <select class="form-control select2"
                                                name="army_status">
                                            {% set army_status = "" %}
                                            {% for army_stat in armyStatus%}
                                            {% if job_application.army_status == army_stat.id %}
                                            {% set army_status =  army_stat.name %}
                                            {% endif%}
                                            {% endfor%}
                                            <option selected="selected"  value="{{job_application.army_status}}">{{army_status}}</option>
                                            {% for army_status in armyStatus%}
                                            {% if job_application.army_status == army_status.id %}
                                            {% else%}
                                            <option value="{{army_status.id}}">{{army_status.name}}</option>
                                            {% endif%}
                                            {% endfor%}
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>الحالة الاجتماعية</label>
                                        <select class="form-control select2"
                                                name="marital_status">
                                            {% set marital_status = "" %}
                                            {% for marital_stat in maritalStatus%}
                                            {% if job_application.marital_status == marital_stat.id %}
                                            {% set marital_status =  marital_stat.name %}
                                            {% endif%}
                                            {% endfor%}
                                            <option selected="selected"  value="{{job_application.marital_status}}">{{marital_status}}</option>
                                            {% for marital_status in maritalStatus%}
                                            {% if job_application.marital_status == marital_status.id %}
                                            {% else%}
                                            <option value="{{marital_status.id}}">{{marital_status.name}}</option>
                                            {% endif%}
                                            {% endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card bg-gradient-primary">
                    <div class="card-header">


                        <!-- tools card -->
                        <div class="card-tools">
                            <!-- button with a dropdown -->
                            <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>

                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <h3 class="card-title" style="text-align: center;">
                            بيانات التعليم
                        </h3>
                        <!-- /. tools -->
                    </div>
                    <div class="card-body" dir="rtl">
                        <div class="row">
                            <div class="form-group col-lg-4 col-sm-12">
                                <select class="form-control select2"
                                        name="qualification_type">
                                    {% set qualification_type = "" %}
                                    {% for qualification_ty in qualificationType%}
                                    {% if job_application.marital_status == qualification_ty.id %}
                                    {% set qualification_type =  qualification_ty.name %}
                                    {% endif%}
                                    {% endfor%}
                                    <option selected="selected"  value="{{job_application.qualification_type}}">{{qualification_type}}</option>
                                    {% for qualification_type in qualificationType%}
                                    {% if job_application.qualification_type == qualification_type.id %}
                                    {% else%}
                                    <option value="{{qualification_type.id}}">{{qualification_type.name}}</option>
                                    {% endif%}
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <input class="date-own form-control" name="graduation_date"
                                       placeholder="تاريخ التخرج"   value="{{job_application.graduation_date}}"
                                       type="text">
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <input type="text" class="form-control"
                                       value="{{job_application.qualification_name}}"
                                       name="qualification_name"
                                       id="exampleInputEmail8" placeholder="الكلية / المعهد / المدرسة">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- general form elements -->
                <!-- Form Element sizes -->

                <!-- /.card -->

                <div class="form-group col-lg-12 col-sm-12">
                    <input type="submit" id="save" class="btn btn-primary" value="حفظ البيانات">
                </div>
            </div><!-- /.container-fluid -->
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block footer %}
<script>
    $("#job_application").last().addClass("active");
    $("#job_application_report").last().addClass("active");
</script>
<script>
    function clickOn(id) {
        let x1 = document.getElementById(id).className;
        const n = x1.includes("job_applications");

        if (n){
            window.open(x1, '_blank');
        }
        else {
            createAlert('', 'لا يوجد ملف', '', 'danger', true, true, 'pageMessages');
            return false;
        }
    }
    function validateForm() {

        const x1 = document.forms["myForm"]["personal_photo"].value;
        const x2 = document.forms["myForm"]["name"].value;
        const x5 = document.forms["myForm"]["residence_street"].value;
        const x6 = document.forms["myForm"]["telephone"].value;
        const x7 = document.forms["myForm"]["identification_id"].value;
        const x10 = document.forms["myForm"]["place_of_birth_street"].value;




        const imgExtension = ['jpg', 'jpeg', 'png'];

        const image = x1.slice((x1.lastIndexOf(".") - 1 >>> 0) + 2);

        if (x1 == "" || x1 == null ) {
        }
        else {
            if (!imgExtension.includes(image)) {
                createAlert('', 'صيغة  الصورة الشخصية غير مدعومة', '', 'danger', true, true, 'pageMessages');
                document.forms["myForm"]["personal_photo"].focus();
                return false;
            }
        }

        if (x2 == "" || x2 == null) {
            createAlert('','ادخل الاسم','','danger',true,true,'pageMessages');
            document.forms["myForm"]["name"].focus();
            return false;
        }
        if (x5 == "" || x5 == null) {
            createAlert('','ادخل الشارع / الحي / القرية للعنوان','','danger',true,true,'pageMessages');
            document.forms["myForm"]["residence_street"].focus();
            return false;
        }
        if (x6 == "" || x6 == null || x6.match(/^\d+$/) == null || x6.length != 11 ){
            createAlert('','ادخل رقم التليفون بشكل صحيح','','danger',true,true,'pageMessages');
            document.forms["myForm"]["telephone"].focus();
            return false;
        }
        if (x7 == "" || x7 == null || x7.match(/^\d+$/) == null || x7.length != 14) {
            createAlert('','ادخل الرقم القومي بشكل صحيح','','danger',true,true,'pageMessages');
            document.forms["myForm"]["identification_id"].focus();
            return false;
        }
        if (x10 == "" || x10 == null) {
            createAlert('','ادخل الشارع / الحي / القرية لمحل الميلاد','','danger',true,true,'pageMessages');
            document.forms["myForm"]["place_of_birth_street"].focus();
            return false;
        }



    }
</script>
<script>
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var htmlPreview =
                    '<img width="200" src="' +
                    e.target.result +
                    '" />' +
                    "<p>" +
                    input.files[0].name +
                    "</p>";
                var wrapperZone = $(input).parent();
                var previewZone = $(input).parent().parent().find(".preview-zone");
                var boxZone = $(input)
                    .parent()
                    .parent()
                    .find(".preview-zone")
                    .find(".box")
                    .find(".box-body");

                wrapperZone.removeClass("dragover");
                previewZone.removeClass("hidden");
                boxZone.empty();
                boxZone.append(htmlPreview);
                document.getElementById("dropzone-wrapper").style.display = "none";


            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function reset(e) {
        e.wrap("<form>").closest("form").get(0).reset();
        e.unwrap();
    }

    $(".dropzone").change(function () {
        readFile(this);
    });

    $(".dropzone-wrapper").on("dragover", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).addClass("dragover");
    });

    $(".dropzone-wrapper").on("dragleave", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).removeClass("dragover");
    });

    $(".remove-preview").on("click", function () {
        var boxZone = $(this).parents(".preview-zone").find(".box-body");
        var previewZone = $(this).parents(".preview-zone");
        var dropzone = $(this).parents(".form-group").find(".dropzone");
        boxZone.empty();
        previewZone.addClass("hidden");
        reset(dropzone);
        document.getElementById("dropzone-wrapper").style.display = "block";
    });

</script>
<script>
    $(document).ready(function () {
        let name  = document.getElementById('name').value;
        let identification_id  = document.getElementById('identification_id').value;
        $('#myForm').validate({
            rules: {
                name: {
                    remote: '../Account/ValidateEdit?job_application&'+name
                },
                identification_id:{
                    remote: '../Account/ValidateEdit?job_application&'+identification_id
                }
            },
            messages: {
                name: {
                    remote:'الاسم موجود بالفعل'
                },
                identification_id:{
                    remote: 'الرقم القومي موجود بالفعل'
                }
            }
        });
    });
</script>
<script>

</script>

{% endblock %}
