{% extends "dash_base.php" %}

{% block title %}
سجل الجزاءات
{% endblock %}
{% block style %}
{% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">سجل الجزاءات</li>
                        <li class="breadcrumb-item">الجزاءات</li>
                        <li class="breadcrumb-item"><a href="../Dashboard/index">الرئيسية</a></li>

                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" >
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class=" table-striped" dir="rtl">
                                <thead>
                                <tr>
                                    <th>الكود</th>
                                    <th>الاسم</th>
                                    <th>الأدوات</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for penalty in penalties%}

                                <tr>
                                    <td>{{penalty.id}}</td>
                                    <td>{{penalty.employee}}</td>
                                    <td><a href="../penalties/view?{{penalty.cause}}"><i class="fas fa-eye"></i></a>
                                    </td>

                                </tr>
                                {% endfor%}


                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>الكود</th>
                                    <th>الاسم</th>
                                    <th>الأدوات</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block footer %}

<script>
    $("#penalties").last().addClass("active");
    $("#penalties_report").last().addClass("active");
</script>

{% if '6' in getPermission.pe %}
{% else %}
<script>
    $(document).ready(function() {
        $('.fa-eye').closest('a').remove();
    });
</script>
{% endif %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
{% endblock%}
